$color-black: #000000;
$color-white: #ffffff;
$color-grey: #00000099;
$color-dark: #262626;
$color-opacity-black: #121212B2;
$color-cream: #F9F9F9;
$color-blue: #3897F0;
$color-opacity-gray: #00000026;

$font-heading: "Inter", sans-serif;
